<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Edit Quantity</title>
</head>
<body class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
	style="background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?cs=srgb&dl=pexels-henry-%26-co-1939485.jpg&fm=jpg'); background-size: cover;">>
	<div align="center">
		<h1 style="color:black;">Edit Quantity</h1>
		<br />
		<form action="#" th:action="@{/cart_save}" th:object="${item}"
			method="post">
			<table border="0" cellpadding="10" class="table table-dark">
				<tr>
					<td>Product ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>How many do you want?:</td>
					<td><input type="text" th:field="*{qty}" /></td>
				</tr>
				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td>Current Total:</td>
					<td><input type="text" th:field="*{total}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
