<!-- "endpoint" model attribute should give the route to go to to handle the filter -->
<!-- "clear" model attribute should give the route to go to to clear the filter -->

<div align="center">
	<h1 style="color: black;">Filter for Products</h1>
	<br />
		<div class="container-fluid">
			<form class="mb-3" action="#" th:action="${endpoint}" th:object="${filter}" method="get">
				<div class="form-row justify-content-center align-items-baseline">
					<div class="col-1">
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="useName" th:field="*{usingName}" />
							<label class="custom-control-label" for="useName"></label>
						</div>
					</div>
					<div class="col-10 col-sm-8 col-md-6 col-lg-4">
						<div class="input-group mb-3">
							<span class="input-group-text">name includes: </span>
							<input type="text" class="form-control" id="name" th:field="*{nameIncludes}" />
						</div>
					</div>
				</div>
				
				<div class="form-row justify-content-center align-items-baseline">
					<div class="col-1">
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="useMinPrice" th:field="*{usingMinPrice}" />
							<label class="custom-control-label" for="useMinPrice"></label>
						</div>
					</div>
					<div class="col-10 col-sm-8 col-md-6 col-lg-4">
						<div class="input-group mb-3">
							<span class="input-group-text">min price: $</span>
							<input type="number" class="form-control" min="0" step=0.01 th:field="*{minPrice}" />
						</div>
					</div>
				</div>
				
				<div class="form-row justify-content-center align-items-baseline">
					<div class="col-1">
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="useMaxPrice" th:field="*{usingMaxPrice}" /> </span>
							<label class="custom-control-label" for="useMaxPrice"></label>
						</div>
					</div>
					<div class="col-10 col-sm-8 col-md-6 col-lg-4">
						<div class="input-group mb-3">
							<span class="input-group-text">max price: $</span>
							<input type="number" class="form-control" min="0" step=0.01 th:field="*{maxPrice}" />
						</div>
					</div>
				</div>
				<button class="btn btn-success" type="submit">Filter</button>
			</form>
			<a class="btn btn-info" th:href="${clear}">Clear Filter</a>
		</div>

</div>