<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Product Manager</title>
</head>

<body class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
	style="background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?cs=srgb&dl=pexels-henry-%26-co-1939485.jpg&fm=jpg'); background-size: cover;">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/swagger-ui.html">View Swagger</a></li>
					<li class="nav-item"><a class="nav-link" href="new">Create New Product</a></li>
				</ul>
			</div>
			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
				<button class="btn btn-danger" type="submit">Logout</button>
			</form>
		</nav>
	</div>
	<div align="center">

		<div class="container">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>

		<h1 style="color:black;">Product Manager</h1>

		<br /><br /><br />

		<div th:insert="filter_form"></div>

		<br>

		<table border="1" cellpadding="10" class="table table-hover table-bordered table-condensed table-dark">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Image</th>
					<th>Brand</th>
					<th>Made In</th>
					<th>Price</th>

					<th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td th:text="${product.id}">Product ID</td>
					<td th:text="${product.name}">Name</td>
					<td><img th:src="@{image/{img}(img=${product.imageName})}" alter="product image" width="100"
							height="100" /></td>
					<td th:text="${product.brand}">Brand</td>
					<td th:text="${product.madein}">Made in</td>
					<td th:text="${product.price}">Price</td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-primary" th:href="@{'/edit/' + ${product.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-danger" th:href="@{'/delete/' + ${product.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>