<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Register</title>
</head>
<body class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
	style="background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?cs=srgb&dl=pexels-henry-%26-co-1939485.jpg&fm=jpg'); background-size: cover;">>
	<div align="center">
		<h1 style="color:black;">Create Account</h1>
		<br/>
		<p th:text="${error}" style="color:red"/>
		<form action="#" th:action="@{/register}" th:object="${user}" method="post">
			<table border="0" cellpadding="10" class="table table-dark">
				<tr>
					<td>Username:</td>
					<td><input type="text" th:field="*{username}" /></td>
				</tr>			
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Register</button></td>
				</tr>
			</table>
		</form>
		<br>
		<div style="color:black;">Existing users: <a href="/login">Sign in</a></div>
	</div>
</body>
</html>
