<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>ShopperVue</title>
</head>
<body>
	<div align="center">
		<h3 th:inline="text">Welcome
			[[${#httpServletRequest.remoteUser}]]</h3>

		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>

		<h1>ShopperVue</h1>
		<a href="browse">Add Product to Cart</a> <br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
					

					<th sec:authorize="hasRole('ROLE_USER')">Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="cart : ${listCart}">
					<td th:text="${cart.id}">Product ID</td>
					<td th:text="${cart.name}">Name</td>
					<td th:text="${cart.price}">Price</td>
					<td th:text="${cart.qty}">Quantity</td>
					<td th:text="${cart.total}">Total</td>
					<td sec:authorize="hasRole('ROLE_USER')"><a
						th:href="@{'/tinker/' + ${cart.id}}">Edit Quantity</a>
						&nbsp;&nbsp;&nbsp;&nbsp; <a th:href="@{'/discard/' + ${cart.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div align="right">
		<table border="1">
			<thead>
				<tr>
					<th>Order Subtotal</th>
					<th>Submit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text='${subtotal}'>Subtotal</td>
					<td><a th:href="@{'/order_complete'}">Submit Order</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>